/* Header */
.header {
    background-color: $fontRed;
    padding: 30px 20px;
    position: sticky;
    top: 0;
    z-index: 1;

    &__container {
        font-size: 30px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &   h2  {
            font-size: 30px;
        }
        &   a  {
                color: whitesmoke;
                font-weight: bold;
        }

        &-navbar {
                display: none;

                & li {
                    margin: 0 15px;
                    font-size: 18px;
                    text-align: center;
                }
        }
        &-navbar-mobile    {
            i   {
               font-size: 35px;
               color: #fff; 
            }

            ul  {
                position: absolute;
                left: 0;
                top: 100px;
                background-color: #000;
                width: 100%;
                display: none;
            
                li  {
                    padding: 20px 0; 
                    text-align: center;

                    a {
                        font-weight: bold;
                        color: #fff;
                    }

                    &:nth-child(even)   {
                        background-color: rgb(18, 17, 17);
                    }
                }
            }

            &:hover ul {
                display: block;
            }
        }
    }
} 
.header__container-navbar li a:hover    {
    color: black;
    font-weight: bold;
}

@media (min-width:768px)   {
    .header__container-navbar   {
        display: flex;
        align-items: center;
    }
    .header__container-navbar li   {
        margin: 0 15px;
    }
    .header__container-navbar li a  {
        color: white;
        font-weight: bold;
    }
    .header__container-navbar li a:hover    {
        color: black;
    }
    .header__container-navbar-mobile    {
        display: none;
    }
    .planes__cards{
        grid-template-columns: repeat(2, 1fr);
    }
}