/* Global */
@font-face {
    font-family: 'Lato';
    src: url(./assets/ttf/lato/Lato-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face  {
    font-family: 'Lato';
    src: url(./assets/ttf/lato/Lato-Regular.ttf);
    font-style: normal;
}